---
imap_accounts:
  - name: me
    download_attachments: true
    folder: "INBOX"
    password: "harsh6100"
    port: 993
    secure: true
    server: "imap.gmail.com"
    username: "stackstorm.alert@gmail.com"
max_attachment_size: 1024
attachment_datastore_ttl: 1800

